.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}