.ingredient_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calories_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  list-style: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
