html {
  scrollbar-color: auto !important;
}
::-webkit-scrollbar {
  width: 10px !important;
  height: 0 !important;
}
::-webkit-scrollbar-track {
  background: #2f2f37 !important;
  width: 4px !important;
}
::-webkit-scrollbar-thumb {
  background: #8585ad !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #5f5fa5 !important;
}

.body {
  min-width: 320px;
  background-color: #131316;
  display: flex;
  justify-content: center;
}

.preloader {
  background: url('./images/25.svg') no-repeat center center;
  width: 100%;
  height: 100%;
  position: fixed;
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.red-button {
  width: 260px;
  height: 50px;
  background-color: #d44d4d;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  border: 0;
}

.red-button:hover {
  background-color: #b63636;
}
