.body {
  min-width: 320px;
  background-color: #131316;
  display: flex;
  justify-content: center;
}



html {scrollbar-color: auto !important;}
::-webkit-scrollbar {width: 10px !important; height: 0 !important;}
::-webkit-scrollbar-track { background: #2F2F37 !important;   width: 4px !important;}
::-webkit-scrollbar-thumb {   background: #8585AD !important;}
::-webkit-scrollbar-thumb:hover {background: #5f5fa5 !important;}