.constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  min-height: 50px;
}

.buy_button_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.currency_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  scroll-snap-align: start;
  height: 80px;
}

.constructor_element {
  background-color: rgba(128, 255, 134, 0.397);
  border-radius: 30px;
}
